[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
aiosqlite = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
